*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #264653;
    color: #fff;
}
.header-heading{
    font-size: 3rem;
    font-weight: 600;
}
.header_paragraph{
    color: #E0E0E0;
    max-width: 456px;
}
.header-button{
    width: 10.5rem;
    height: 2.75rem;
    background-color: #E76F51;
    font-weight: 500;
}
.header-modal{
    color: rgb(14, 18, 31);
}
.header-modal-title{
    color: #E76F51;
}
.header-modal-no{
    background-color: #264653;
}
.header-modal-yes{
    background-color: #E76F51;
}


/* ----------------------
    main started
------------------------*/
