*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #264653;
    color: #fff;
}
.header-heading{
    font-size: 3rem;
    font-weight: 600;
}
.header_paragraph{
    color: #E0E0E0;
    max-width: 456px;
}
.header-button{
    width: 10.5rem;
    height: 2.75rem;
    background-color: #E76F51;
    font-weight: 500;
}
.header-modal{
    color: rgb(14, 18, 31);
}
.header-modal-title{
    color: #E76F51;
}
.header-modal-no{
    background-color: #264653;
}
.header-modal-yes{
    background-color: #E76F51;
}


/* ----------------------
    main started
------------------------*/
body{
    background: #E5E5E5;
}
.featured-text-small{
    color: #E76F51;
}
.featured-images{
    padding: 7.5rem 0;
}
.feature-grayscale{
    filter: grayscale(1);
}
.latest-news{
    margin-bottom: 10rem;
}
.latest-news h1{
    color: #0A0826;
    font-weight: 600;
}
.latest-news-card-title{
    color: #18191F;
    font-weight: 600;
}
.latest-news-card-paragraph{
    color: #6C6C6C;
}
.fill-card-button{
    width: 10rem;
    height: 3.5625rem;
    background-color: #E76F51;
}
.unfill-card-button{
    width: 10rem;
    height: 3.5625rem;
    border: 1px solid#E76F51;
    color: #E76F51;
    font-weight: 500;
}
.tesitimunial-title{
    font-weight: 600;
    color: #0A0826;
}
.tesitimunial-title-span{
    color: #E76F51;
}
.cards{
    margin-bottom: 9.875rem;
}
.card-box{
    padding: 2.5rem 2.1875rem;
    border: 1px solid #DEDEDE;
    cursor: pointer;
}
.card-box-paragraph{
    color: #6C6C6C;
}
.rateing{
    color: #E76F51;
}
.person-name{
    font-weight: 600;
    color: #23A6F0;
}
.person-profetion{
    font-weight: 600;
    color: #252B42;
}
.frequently-box{
    margin-top: 7rem;
    margin-bottom: 8.75rem;
}
.accordion-item-1{
    border: 1px solid #D5E5FB;
    margin-bottom: 21px;
}
.accordion-item-2{
    border: 1px solid #D5E5FB;
    margin-bottom: 13px;
}
.accordion-item-3{
    border: 1px solid #D5E5FB;
    margin-bottom: 8px;
}
.accordion-item-4{
    border: 1px solid #D5E5FB;
}
.accordion-item-header{
    color: #383838;
}
.accordion-item-paragraph{
    color: #7E848C;
}
.find-product{
    padding-bottom: 150px;
}
.slider-images{
    background-color:rgba(236, 240, 241, 1)
}